- var btnClasses = ['w3-button','w3-red','w3-hover-deep-orange']

doctype html
html(lang="en")
  head
    title Me own Diary
    link(rel='stylesheet',href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet',href='https://fonts.googleapis.com/css?family=Montserrat')
    style
      include styles.css
  body
    #grid
      h1 Me own Diary
      form#form(method='get',action='.')
        img(src='key.png')
        p Key&nbsp
          input#key(type='password',form='form')
          input#save(type='submit',value='SAVE',form='form',class=btnClasses)


      #new
        h2 New Entry
        form#formNew(onsubmit='return false')
          p
            span#timeSince - hours
            span &nbsp;since last entry
          p
            input#title(name='title',required,autofocus,placeholder='Title',value='')
          textarea#text(rows=8,name='text',required,autocomplete=false) Dear Diary,&NewLine;&NewLine;
          br
          button#submit(class=btnClasses) CREATE

      #old
        h2 Previous Entries
          button#populate(class=btnClasses) POPULATE
        table#tblPrevious(class=['w3-table'])
          thead
            tr(class='w3-red')
              th Title
              th Created at
          tbody
            tr
              td(colspan=2)
                #scrollit
                  table#tblInner(class=['w3-table','w3-bordered'])
                    tbody
      #display
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js')
    script
      include ../lib/nicEdit.js
    script
      include script.js
